@import "../vendor/bootstrap/less/bootstrap";
@import "../vendor/font-awesome/less/font-awesome";
@import "variables";
@import "prettify";
@import "sidebar";
@import "mixins";
@import "header";
@import "admin";
@import "blog";

/* Main styles of the website. Full layout at >= @screen-md-min.
 *
 *  col-s       col-r         <-- sidebar & col-right
 * +-----+-----------------+
 * |     |    row, col     |  <-- header
 * |     +-----------------+
 * |     |                 |
 * |     |                 |
 * |     |    row, col     | <-- app-content
 * |     |                 |
 * |     |                 |
 * +-----+-----------------+
 *
----------------------------------------------------------------------------- */

html, body {
  height: 100%;
  background-color: @white;
}

// (header defined in header.less)

.col-right {
  .make-md-column-offset(2);
  .make-md-column(10);
  @media (min-width: @screen-md-min) {
    padding-left: @col-right-padding;
  }
  padding-top: @content-padding;
}

.row-app-content {
  .make-row();
}

.col-app-content {
  .make-md-lg-column();
}

hr {
  border-color: @gray-darker;
}

::selection {
  background: lighten(@color-scheme-red, 25%);
  color: black;
  text-shadow: none;
}

::-moz-selection {
  background: lighten(@color-scheme-red, 25%);
  color: black;
  text-shadow: none;
}

.btn-link {
  padding: 0px;
  outline: none;
}

button.btn-link:focus {
  outline: none;
}

.btn-vert-stack {
  margin-top: 8px;
  margin-left: 0px;
  @media (min-width: @screen-sm-min) {
    margin-top: 0px;
    margin-left: 2px;
  }
}

pre {
  overflow-x: auto;
}

pre code {
  overflow-wrap: normal;
  word-wrap: normal;
  white-space: pre;
}

/* Sticky footer at < @screen-md-min.
----------------------------------------------------------------------------- */

@xs-footer-height: 46px;

#xs-wrap-footer {
  @media (max-width: @screen-sm-max) {
    .make-wrap-footer(@xs-footer-height);
  }
}

#xs-footer {
  display: none;
  @media (max-width: @screen-sm-max) {
    .make-footer-color(@xs-footer-height);
  }
}
