@import "../vendor/bootstrap/less/bootstrap";
@import "../vendor/font-awesome/less/font-awesome";
@import "../vendor/font-awesome/src/assets/less/site/lazy";
@import "variables";
@import "prettify";
@import "mixins";
@import "header";
@import "admin";
@import "blog";

/* Sticky footer styles
----------------------------------------------------------------------------- */

html, body {
  height: 100%;
}

#wrap-footer {
  @media (max-width: @screen-sm-min - 1) {
    margin: 0 auto floor((-@footer-height * 1.5));
    padding: 0 0 floor((@footer-height * 1.5));
  }
  @media (min-width: @screen-sm-min) {
    margin: 0 auto -@footer-height;
    padding: 0 0 @footer-height;
  }
  min-height: 100%;
  height: auto;
}

#footer {
  @media (max-width: @screen-sm-min - 1) {
    height: floor((@footer-height * 1.5));
  }
  @media (min-width: @screen-sm-min) {
    height: @footer-height;
  }
  background-color: @gray-darker;
  color: @gray-lighter;
}

#footer .row {
  @media (min-width: @screen-sm-min) {
    height: @footer-height;
  }
  > div > p {
    padding-top: ceil((@footer-height * 0.25));
    margin-bottom: 0;
  }

}

#footer-content p {
  display: table-cell;
  vertical-align: middle;
  font-size: small;
  margin: 0;
}

/* Main layout of the website
----------------------------------------------------------------------------- */

hr {
  border-color: @gray-darker;
}

#main-navigation {
  font-size: @font-size-text;
  padding-bottom: 15px;
  // Allow list to center horizontally:
  display: table;
  margin: 0 auto;
}

#main-navigation ul {
  @media (max-width: (@screen-sm-min - 1)) {
    > li {
      float: left;
      + li {
        margin-left: 2px;
      }
    }
  }
  @media (min-width: @screen-sm-min) {
    .nav-stacked();
    > li {
      + li {
        margin-top: 8px;
      }
    }
  }
  > li {
    color: @gray-darker;
    > a {
      color: @gray-darker;
      border-bottom: solid 2px @white;
      &:hover {
        background-color: transparent;
        color: @color-scheme-red-lighter;
      }
    }
    &.active > a {
      color: @color-scheme-red-lighter;
      border-bottom: solid 2px @color-scheme-red-lighter;
    }
  }
}

::selection {
  background: lighten(@color-scheme-red, 25%);
  color: black;
  text-shadow: none;
}

::-moz-selection {
  background: lighten(@color-scheme-red, 25%);
  color: black;
  text-shadow: none;
}

.btn-link {
  padding: 0px;
  outline: none;
}

button.btn-link:focus {
  outline: none;
}

.btn-vert-stack {
  margin-top: 8px;
  margin-left: 0px;
  @media (min-width: @screen-sm-min) {
    margin-top: 0px;
    margin-left: 2px;
  }
}

pre {
  overflow-x: auto;
}

pre code {
  overflow-wrap: normal;
  word-wrap: normal;
  white-space: pre;
}
