@import "../vendor/bootstrap/less/variables";

/* Paths
----------------------------------------------------------------------------- */

@icon-font-path: "vendor/bootstrap/fonts/";
@fa-font-path: "vendor/font-awesome/fonts";

/* Colors
----------------------------------------------------------------------------- */

@color-scheme-red: #D05B72;
@color-scheme-orange: #DF8F62;
@color-scheme-blue: #40927C;
@color-scheme-green: #78C155;

@color-scheme-red-darker: #AB394F;
@color-scheme-orange-darker: #B8693D;
@color-scheme-blue-darker: #287962;
@color-scheme-green-darker: #579F35;

@color-scheme-red-lighter: #DC7085;
@color-scheme-orange-lighter: #E79F76;
@color-scheme-blue-lighter: #58AD96;
@color-scheme-green-lighter: #8BD06A;

@brand-primary: @color-scheme-red;
@brand-secondary: @color-scheme-orange;
@brand-success: @color-scheme-green-lighter;
@brand-info: @color-scheme-blue-lighter;
@brand-warning: @color-scheme-orange-lighter;
@brand-danger: @color-scheme-red-lighter;

@clr-clouds: #ECF0F1;
@clr-silver: #BDC3C7;

@black: #000000;
@white: #FFFFFF;

@body-bg: @white;
@text-color: @gray-darker;
@text-color-footer: @gray-darker;

@link-color: @brand-primary;
@link-color-hover: @brand-secondary;

@sidebar-color: @gray-lighter;
@footer-color: @sidebar-color;

@content-padding: (@grid-gutter-width / 2);
@sidebar-logo-size: 240px;

@col-right-padding: (@content-padding * 2);

/* Typography
----------------------------------------------------------------------------- */

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:700|Lato);

@font-family-sans-serif: 'Lato', Arial, sans-serif;

@headings-font-family: 'Source Sans Pro', Verdana, sans-serif;
@headings-font-weight: 700;

@font-size-text: ceil((@font-size-base * 1.15));
@font-size-blog: @font-size-text;
@font-size-footer: @font-size-base;
