<div id="row-app-header">
    <div class="col-sm-2 visible-sm">
        <img class="img-responsive" ng-src="/static/images/portrait.png?v={{revisionfull}}" alt="Maximilian Fellner"/>
    </div>
    <div id="col-header-title" class="col-xs-12 col-sm-10 col-md-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1>Maximilian Fellner <br class="visible-xs"><small>Software Engineer</small></h1>
            </div>
        </div>
        <div class="row visible-md visible-lg">
            <div class="col-md-12-lg-11">
                <hr id="hr-app-header">
            </div>
        </div>
        <ul class="nav visible-xs visible-sm" app-nav>
            <li><a href="/#!/blog">Blog</a></li>
            <li><a href="/#!/about">About</a></li>
            <li><a href="/#!/source">Source</a></li>
        </ul>
    </div>
</div>