<div id="row-app-header">
    <div id="col-header-title">
        <h1>Maximilian Fellner <br class="visible-xs"><small>Software Engineer</small></h1>
        <div class="row visible-md visible-lg">
            <div class="col-md-12-lg-11">
                <hr id="hr-app-header">
            </div>
        </div>
        <ul class="nav visible-xs visible-sm" app-nav>
            <li><a href="/#!/blog">Blog</a></li>
            <li><a href="/#!/about">About</a></li>
            <li><a href="/#!/source">Source</a></li>
        </ul>
    </div>
</div>