<div id="header-row" class="row" ng-include="'static/partials/partial_header.html'"></div>

<div id="main-row" class="row">
    <main-nav></main-nav>
    <div id="main-content" class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="margin-top-none">About</h3>

                <p>Hello, my name is Maximilian Fellner and I am a passionate software engineer from Graz, Austria.</p>
                <p>I like tackling complex problems and building awsome stuff. You can contact me at the following sites:</p>
                <ul class="list-unstyled list-inline margin-top-lg">
                    <li><i class="fa fa-github fa-lg"></i><a href="//github.com/mfellner"> GitHub</a></li>
                    <li><i class="fa fa-twitter fa-lg"></i><a href="//twitter.com/maxdestructo"> Twitter</a></li>
                    <li><i class="fa fa-xing fa-lg"></i><a href="//www.xing.com/profile/Maximilian_Fellner">Xing</a></li>
                    <li><i class="fa fa-linkedin fa-lg"></i><a href="//inkedin.com/in/maxfellner"> LinkedIn</a></li>
                    <li><i class="fa fa-stack-overflow fa-lg"></i><a href="//careers.stackoverflow.com/mfellner"> Stack Overflow</a></li>
                    <li><i class="fa fa-google-plus fa-lg"></i><a href="//google.com/+maximilianfellner"> Google</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
