<div id="col-sidebar">
    <div id="sb-wrap-footer">
        <img src="static/images/portrait.png" alt="Maximilian Fellner"/>
        <ul class="nav" app-nav>
            <li><a href="/#!/blog">Blog</a></li>
            <li><a href="/#!/about">About</a></li>
            <li><a href="/#!/source">Source</a></li>
        </ul>
    </div>
    <div id="sb-footer">
        <div class="vcenter-wrap">
            <div class="vcenter">
                <div class="row">
                    <div class="col-md-12">&copy; Copyright {{year}} <br class="visible-md">Maximilian Fellner.</div>
                </div>
                <div class="row">
                    <div class="col-md-12">revision <a href="https://github.com/mfellner/maximilianfellner.eu">{{revision}}</a></div>
                </div>
            </div>
        </div>
    </div>
</div>